<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="styles/hallTicket.css">
    <title>Exam Duty</title>



  </head>
  <body>
    <div id="button-container">
			<button id="download-pdf">Download PDF</button>
		</div>
<section>
	<div class="container">
		<div class="admit-card" id="admit-card"> 

			<div class="BoxE border- padding mar-bot txt-center">
				<div class="row">
					<div class="col-sm-12">
						<h5>EXAMINATION VENUE</h5>
						<p>Phagwara,140001<br> Punjab,INDIA</p>
					</div>
				</div>
			</div>
			<div class="BoxF border- padding mar-bot txt-center">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									

									<th>Exam Date</th>
                  <th>Hall No.</th>
                  <th>Hall Name</th>

								</tr>
							</thead>
						  <tbody>
								<%for(val of exam){ %>

							<tr>
							  <td><%=val.date%></td>
							  <td><%=val.roomNo%></td>
                <td><%=val.deptName%></td>
							</tr>
							<%}%>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
			<footer class="txt-center">
				<p>*** Lovely Professional University ***</p>
			</footer>
			
		</div>
	</div>
	
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
		function generatePDF() {
			
				const element = document.getElementById('admit-card'); 
				html2pdf()
						.from(element)
						.save('timeTable.pdf');
				
		}
		document.getElementById('download-pdf').addEventListener('click', generatePDF);
</script>
  </body>
</html>