<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="styles/login.css">
  <title>Login Portal</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="get">
        <button type="submit" style="margin-bottom: 1rem;" formaction="/studentLogin">Student Portal</button>
        <button type="submit" style="margin-bottom: 1rem;" formaction="/invigilatorLogin">Proctor Portal</button>
        <button type="submit" formaction="/adminLogin">Admin Portal</button>
      </form>
    </div>
  </div>
</body>
</html>